@charset "utf-8";
/*! btns */
.btns.btn_list{height:50px;min-width:100px;background:#222;font-weight:700;font-size:15px;line-height:49px}
.btns.btn_list .ico{display:inline-block;width:12px;height:10px;margin:0 0 0 16px;background:url(/images/common/ico_btns.png) no-repeat}
img.file{margin:0 7px 0 5px;vertical-align:-4px}
.bx_file,.bx_file a{color:#444;font-size:13px}
/*! sub visual */
.sub_visual{width:100%;background:#1a1b20}
.sub_visual_inner{position:relative;width:1200px;height:360px;margin:0 auto;color:#fff;text-align:center}
.sub_visual_inner h2{position:relative;margin:0 0 33px;padding:96px 0 29px;font-size:72px;font-family:NanumSquare;letter-spacing:-1px}
.sub_visual_inner h2:after{display:block;position:absolute;bottom:0;left:50%;width:75px;margin-left:-37px;border-bottom:1px solid #fff;content:""}
.sub_visual_inner p{font-size:18px}
/*! sub visual BG */
/* .sub_visual.monthly .sub_visual_inner,.sub_visual.new .sub_visual_inner{height:720px} */
.sub_visual.monthly .sub_visual_inner{height:720px}
.sub_visual.news{background:url(/images/common/visual_sub_news.jpg) center 0 no-repeat;background-size:cover}
.sub_visual.wine{background:url(/images/common/visual_sub_winelist.jpg) center 0 no-repeat;background-size:cover}
.sub_visual.new{background:url(/images/common/visual_sub_new.jpg) center 0 no-repeat;background-size:cover}
.sub_visual.monthly{background:url(/images/common/visual_sub_monthly.jpg) center 0 no-repeat;background-size:cover}
.sub_visual.brand{background:url(/images/common/visual_sub_brand.jpg) center 0 no-repeat;background-size:cover}
.sub_visual.mywine{background:url(/images/common/visual_sub_my.jpg) center 0 no-repeat;background-size:cover}
/* #content.monthly .content_inner,#content.new .content_inner{margin-top:-360px;background:#fff} */
#content.monthly .content_inner{margin-top:-360px;background:#fff}
#content.new .content_inner{margin-top:60px;}
/*! border search */
.bd_search{margin-bottom:40px;border-bottom:1px solid #222;text-align:right}
.bd_search .bd_total{float:left;padding-top:25px}
.bd_search .btn_sch{margin-left:5px}
.search_form{display:inline-block;position:relative;margin-bottom:20px;border:1px solid #444}
.search_form .title{height: 19px;display: inline-block;margin-left: 20px;padding-right: 20px;color: #a6192e;line-height: 16px;font-weight: bold;border-right: 1px solid #444;}
.search_form .selectbox_wrap{height:38px;border:0}
.search_form .selectbox_wrap .select_result{height:38px;background-position:right 8px;line-height:36px}
.search_form .title{height: 19px;display: inline-block;margin-left: 20px;padding-right: 20px;color: #a6192e;line-height: 16px;font-weight: bold;border-right: 1px solid #444;}
.search_form .selectbox_wrap .sel_list{top:38px}
.search_form .ip_txt{height:20px;padding:1px 0 3px 15px;border:0;border-left:1px solid #444;line-height:1}
/*! wine news */
.list_news{overflow:hidden}
.list_news ul{margin-left:-44px}
.list_news li{float:left;margin:0 0 40px 44px}
.list_news li a{display:block;width:356px;height:286px;padding:5px;border:2px solid #eaeaea;background:#eaeaea}
.list_news li a>div{display:block;position:relative;height:238px;padding:23px;border:1px solid #eaeaea;background:#eaeaea;color:#444}
.list_news li a strong{display:block;color:#222;font-size:21px;line-height:1.4;letter-spacing:-1px}
.list_news li a .txt{overflow:hidden;height:60px;margin:15px 0 35px}
.list_news li a i{position:absolute;bottom:25px;left:23px;font-size:13px}
.list_news li a em{display:inline-block;height:25px;margin-bottom:23px;padding:0 22px 0 9px;background:url(/images/common/bg_board_release.png) right 0 no-repeat;color:#fff;line-height:23px}
.list_news li a em.release{background:url(/images/common/bg_board_release.png) right 0 no-repeat}
.list_news li a em.notice{background:url(/images/common/bg_board_notice.png) right 0 no-repeat}
.list_news li a em.event{background:url(/images/common/bg_board_event.png) right 0 no-repeat}
/*! wind news - over */
.list_news li a:focus,.list_news li a:focus>div,.list_news li a:hover,.list_news li a:hover>div{border:2px solid #811525;background:#fff;color:#811525}
.list_news li a:focus>div,.list_news li a:hover>div{border-width:1px}
.list_news li a:focus>div strong,.list_news li a:hover>div strong{color:#811525}
.tag_new{display:inline-block;width:19px;height:19px;margin-right:5px;background:#811525;color:#fff;font-size:13px;vertical-align:2px;text-align:center;line-height:17px}
/*! detail_view */
.detail_view{padding:4px 0 0;border-top:2px solid #222}
.detail_view_tit{position:relative;padding:61px 30px 25px;border-top:1px solid #222;border-bottom:1px solid #222}
.detail_view_tit em{display:inline-block;position:absolute;top:25px;left:30px;height:25px;margin-bottom:12px;padding:0 22px 0 9px;color:#fff;font-weight:700;font-size:14px;line-height:23px}
.detail_view_tit h3{float:left;width:910px;color:#222;font-weight:700;font-size:22px;letter-spacing:-1px}
.detail_view_tit i{float:right;padding:6px 0 0;font-size:13px}
.detail_view_tit .release{background:url(/images/common/bg_board_release.png) right 0 no-repeat}
.detail_view_tit .notice{background:url(/images/common/bg_board_notice.png) right 0 no-repeat}
.detail_view_tit .event{background:url(/images/common/bg_board_event.png) right 0 no-repeat}
.detail_view_cont{position:relative}
.detail_view_cont .bx_file{position:absolute;top:24px;right:28px;text-align:right}
.detail_view_inner{padding:60px 30px 115px}
.detail_view_other{border-top:1px solid #444}
.detail_view_other li{position:relative;height:29px;padding:10px 0;border-bottom:1px solid #444;font-size:14px;line-height:28px}
.detail_view_other li em{display:inline-block;width:106px;padding:0 0 0 30px;border-right:1px solid #444;color:#222;font-weight:700}
.detail_view_other li em .ico{display:inline-block;width:12px;height:6px;margin-left:5px;background:url(/images/common/ico_detail_oth.gif) no-repeat;vertical-align:2px}
.detail_view_other li em .ico.prev{background-position:0 0}
.detail_view_other li em .ico.next{background-position:0 -8px}
.detail_view_other li a{padding-left:20px;color:#444;font-size:14px}
.detail_view_other li i{position:absolute;top:50%;right:30px;margin-top:-15px;font-size:13px}
/*! wine list */
.wine_search{position:relative;height:200px;margin:0 0 37px;border-top:1px solid #222}
.wine_search>ul>li{float:left;margin:-23px 0 0 -1px}
.wine_search>ul>li:first-child{margin-left:364px}
.wine_search>ul>li>a{display:block;width:156px;height:44px;border:1px solid #444;background:#fff;color:#444;font-size:14px;text-align:center;line-height:43px}
.wine_search>ul>li>a.on{border-color:#a6192e;background:#a6192e;color:#fff}
.wine_search>ul>li ul{display:none;position:absolute;top:57px;left:0;width:100%;text-align:center}
.wine_search>ul>li li{display:inline-block;margin-left:22px}
.wine_search>ul>li li a{display:block;width:120px;height:94px;padding:26px 0 0;color:#444;font-size:15px;text-align:center}
.wine_search>ul>li li a.on,.wine_search>ul>li li a:focus,.wine_search>ul>li li a:hover{background:url(/images/common/bg_wine_search.png) no-repeat}
.wine_search>ul>li li a em{display:block;width:58px;height:38px;margin:0 auto 10px}
/*! off */
.flag.france{background:url(/images/common/img_flag_france_off.gif) no-repeat}
.flag.italy{background:url(/images/common/img_flag_italy_off.gif) no-repeat}
.flag.spain{background:url(/images/common/img_flag_spain_off.gif) no-repeat}
.flag.germany{background:url(/images/common/img_flag_germany_off.gif) no-repeat}
.flag.usa{background:url(/images/common/img_flag_usa_off.gif) no-repeat}
.flag.chile{background:url(/images/common/img_flag_chile_off.gif) no-repeat}
.flag.australia{background:url(/images/common/img_flag_australia_off.gif) no-repeat}
.flag.canada{background:url(/images/common/img_flag_canada_off.gif) no-repeat}
.flag.argentina{background:url(/images/common/img_flag_argentina_off.gif) no-repeat}
.flag.new_zealand{background:url(/images/common/img_flag_newzealand_off.gif) no-repeat}
.flag.south_africa{background:url(/images/common/img_flag_southafrica_off.gif) no-repeat}
.flag.korea{background:url(/images/common/img_flag_korea_off.gif) no-repeat}
.flag.all{background:url(/images/common/img_flag_all_off.gif) no-repeat}
/*! on/over */
.on .flag.france,a:focus .flag.france,a:hover .flag.france{background:url(/images/common/img_flag_france.gif) no-repeat}
.on .flag.italy,a:focus .flag.italy,a:hover .flag.italy{background:url(/images/common/img_flag_italy.gif) no-repeat}
.on .flag.spain,a:focus .flag.spain,a:hover .flag.spain{background:url(/images/common/img_flag_spain.gif) no-repeat}
.on .flag.germany,a:focus .flag.germany,a:hover .flag.germany{background:url(/images/common/img_flag_germany.gif) no-repeat}
.on .flag.usa,a:focus .flag.usa,a:hover .flag.usa{background:url(/images/common/img_flag_usa.gif) no-repeat}
.on .flag.chile,a:focus .flag.chile,a:hover .flag.chile{background:url(/images/common/img_flag_chile.gif) no-repeat}
.on .flag.australia,a:focus .flag.australia,a:hover .flag.australia{background:url(/images/common/img_flag_australia.gif) no-repeat}
.on .flag.canada,a:focus .flag.canada,a:hover .flag.canada{background:url(/images/common/img_flag_canada.gif) no-repeat}
.on .flag.argentina,a:focus .flag.argentina,a:hover .flag.argentina{background:url(/images/common/img_flag_argentina.gif) no-repeat}
.on .flag.new_zealand,a:focus .flag.new_zealand,a:hover .flag.new_zealand{background:url(/images/common/img_flag_newzealand.gif) no-repeat}
.on .flag.south_africa,a:focus .flag.south_africa,a:hover .flag.south_africa{background:url(/images/common/img_flag_southafrica.gif) no-repeat}
.on .flag.korea,a:focus .flag.korea,a:hover .flag.korea{background:url(/images/common/img_flag_korea.gif) no-repeat}
.on .flag.all,a:focus .flag.all,a:hover .flag.all{background:url(/images/common/img_flag_all.gif) no-repeat}
.wine_list{overflow:hidden}
.wine_list ul{margin-left:-44px}
.wine_list li{display:block;float:left;position:relative;width:210px;height:278px;margin:0 0 40px 44px;padding:77px 15px 0 145px;background:url(/images/common/bg_best_list.png) 0 33px no-repeat;text-align:left}
.wine_list li .tags em{margin-right:5px}
.wine_list li .tag.type{height:21px;padding:0 6px;font-size:13px;line-height:20px}
.wine_list li strong.tit{display:block;overflow:hidden;height:69px;margin:19px 0 6px;color:#222;font-weight:400;font-size:28px;font-family:NanumSquare;line-height:1.2;letter-spacing:-1px}
.wine_list li span.tit{display:block;overflow:hidden;position:relative;margin:0 0 55px;padding:0 0 20px;color:#444;font-size:13px;text-overflow:ellipsis;white-space:nowrap;line-height:1.4}
.wine_list li span.tit:after{display:block;position:absolute;bottom:0;left:0;width:22px;height:1px;margin:18px 0 0;background:#444;content:""}
.wine_list li .hashtag{position:absolute;top:267px;left:145px;width:210px;color:#a6192e;font-weight:700;font-size:14px}
.wine_list li .best{display:inline-block;position:absolute;top:17px;left:65px;width:90px;height:34px}
.wine_list li .best2{background:url(/images/common/ico_best2.png) no-repeat}
.wine_list li .best3{background:url(/images/common/ico_best3.png) no-repeat}
.wine_list li .best4{background:url(/images/common/ico_best4.png) no-repeat}
.wine_list li .new{background:url(/images/common/ico_new.png) no-repeat}
.wine_list li .img{position:absolute;top:0;left:0;width:145px;text-align:center}
.wine_list li .img:before{display:inline-block;position:absolute;bottom:-43px;left:50%;width:185px;height:56px;margin-left:-62px;background:url(/images/common/bg_best_shadow.png) no-repeat;content:""}
.wine_list li .img img{position:relative;height:344px}
.wine_list li .bx_over{position:absolute;top:0;left:0;width:320px;height:355px;padding:0 25px;background:#811525;color:#fff;text-align:center;opacity:0;transition:opacity .2s}
.wine_list li .bx_over .info{line-height:1.4}
.wine_list li .bx_over .tit{margin:0 0 25px;padding-top:64px;color:#fff;font-weight:700;font-size:22px}
.wine_list li .bx_over .hashtag{position:static;margin:13px 0 30px;color:#fff;text-align:center}
.wine_list li .bx_over .btn_area{margin:30px 0 0}
.wine_list li .bx_over span.tit:after{left:50%;width:26px;margin-left:-13px;background:#fff}
.wine_list li .bx_over a:focus,.wine_list li .bx_over a:hover{background:#fff;color:#811525}
.wine_list li .bx_over a:focus .ico,.wine_list li .bx_over a:hover .ico{background-position:-23px -20px}
.wine_list.nohash li .bx_over .tit{padding-top:70px}
/*! wine view */
.product_wine{display:table;position:relative;width:1200px;margin:0 auto 24px}
.product_wine .bxl{display:table-cell;width:50%;height:533px;padding:10px;border:solid #eaeaea;border-width:16px;vertical-align:top}
.product_wine .bxr{display:table-cell;width:50%;height:578px;padding:4px 0 0 50px;border-top:2px solid #222;border-bottom:1px solid #222;color:#222;vertical-align:top}
.product_wine .bxr .btn_line_type .ico{margin:0 0 0 26px}
.product_wine .bxr p{overflow:hidden;height:110px}
.product_wine .tit{display:block;margin-left:-50px;padding:35px 10px 0 50px;border-top:1px solid #222;font-size:48px;font-family:NanumSquare;line-height:1.2;letter-spacing:-2px}
.product_wine .tit span{display:block;position:relative;margin:0 0 35px;padding:16px 0 30px;font-weight:400;font-size:15px;font-family:"맑은 고딕","Malgun Gothic",Dotum,"돋움",Gulim,"굴림","Helvetica Neue",Helvetica,Arial,Verdana,Tahoma,sans-serif;line-height:1;letter-spacing:-.5px}
.product_wine .tit span:after{display:block;position:absolute;bottom:0;left:0;width:22px;height:1px;background:#444;content:""}
.product_wine .hashtag{margin:0 0 28px;color:#a6192e;font-weight:700;font-size:14px}
.product_wine .tags{position:absolute;top:0;right:30px}
.product_wine .tag{margin-left:11px}
.product_wine .tag.type{width:60px;height:40px;font-size:15px;line-height:40px}
.product_wine .best1{display:inline-block;position:absolute;top:-7px;left:318px;width:118px;height:52px;background:url(/images/common/ico_best1.png) no-repeat}
.product_wine .img{position:relative;height:100%;background:#e9e9e9;text-align:center}
.product_wine .img span{display:inline-block;position:relative;position:absolute;top:50%;left:0;width:100%;margin-top:-310px}
.product_wine .img span:after{display:inline-block;position:absolute;bottom:-9px;left:50%;width:185px;height:33px;margin-left:-92px;background:url(/images/common/wine_shadow.png) no-repeat;content:""}
.product_wine .img img{position:relative;z-index:1;height:619px}
.product_wine .more_info{margin:0 0 32px;padding:30px 0 0;border-top:1px dashed #bbb}
.product_wine .more_info li{float:left;width:65px;margin-left:45px;color:#222;font-size:14px;text-align:center}
.product_wine .more_info li:first-child{margin-left:18px}
.product_wine .more_info li strong{display:block;margin-top:7px;font-weight:400}
.product_wine .more_info li strong span{display:block;font-weight:700;font-size:15px}
.product_wine+.btn_area{margin:0 0 40px}
.product_info{display:table;margin:0 0 60px;border-top:1px solid #222;border-bottom:1px solid #222}
.product_info>div{display:table-row}
.product_info>div:last-child dl{border-bottom:0; vertical-align:top}
.product_info dl{display:table-cell;position:relative;width:500px;height:56px;padding:20px 0 20px 100px;border-bottom:1px solid #ddd;vertical-align:middle}
.product_info dt{margin:0 0 5px;color:#222;font-weight:700;line-height:1}
.product_info dd{color:#444}
.product_info dd span{display:block;position:absolute;top:20px;left:24px;width:56px;height:56px;background:#000}
.tasting_note{position:relative;padding:40px 40px 40px 248px;background:url(/images/common/bg_tasting_note.jpg) 0 bottom no-repeat #811525;color:#fff}
.tasting_note h4{position:absolute;top:38px;left:40px;padding:0 0 23px;font-style:italic;font-size:28px;font-family:didot,sans-serif}
.tasting_note h4:after{display:block;position:absolute;bottom:0;left:0;width:22px;height:1px;background:#fff;content:""}
/*! related product */
.related_product{padding:70px 0;background:#eaeaea}
.related_product h1{position:relative;margin:0;padding:0 0 28px;color:#222;font-size:48px;font-family:NanumSquare;text-align:center;letter-spacing:-2px}
.related_product h1:after{display:block;position:absolute;bottom:0;left:50%;width:50px;height:1px;margin:0 0 0 -38px;background:#222;line-height:1;content:""}
.related_list_wrap{position:relative;width:1200px;margin:0 auto}
.related_list_wrap .next,.related_list_wrap .prev{display:block;position:absolute;top:50%;z-index:1;width:50px;height:50px;margin-top:-10px;background:url(/images/common/btn_new_slide.png) no-repeat}
.related_list_wrap .prev{left:-110px}
.related_list_wrap .next{right:-110px;background-position:-60px 0}
@media screen and (max-width:1440px){.related_list_wrap .prev{left:-60px}
.related_list_wrap .next{right:-60px}
}
@media screen and (max-width:1340px){.related_list_wrap .prev{left:-24px}
.related_list_wrap .next{right:-24px}
}
@media screen and (max-width:1266px){.related_list_wrap .prev{left:0}
.related_list_wrap .next{right:0}
}
.related_list{overflow:hidden}
.related_list ul{padding-top:33px}
.related_list li{display:block;float:left;position:relative;margin:0 0 0 44px;text-align:left}
.related_list li:first-child{margin-left:0}
.related_list li>a{display:block;width:225px;height:278px;padding:77px 0 0 145px;background:url(/images/common/bg_related_list.png) 0 33px no-repeat}
.related_list li .tags em{margin-right:5px}
.related_list li .tag.type{height:21px;padding:0 7px;font-size:13px;line-height:20px}
.related_list li strong.tit{display:block;overflow:hidden;height:70px;margin:19px 0 8px;color:#222;font-weight:400;font-size:28px;font-family:NanumSquare;line-height:1.2;letter-spacing:-1px}
.related_list li span.tit{display:block;position:relative;padding:0 0 20px;color:#444;font-size:13px;line-height:1.4}
.related_list li span.tit:after{display:block;position:absolute;bottom:0;left:0;width:22px;height:1px;margin:18px 0 0;background:#444;content:""}
.related_list li .hashtag{position:absolute;bottom:45px;left:145px;color:#a6192e;font-weight:700;font-size:14px}
.related_list li .best{display:inline-block;position:absolute;top:17px;left:65px;width:90px;height:34px}
.related_list li .best2{background:url(/images/common/ico_best2.png) no-repeat}
.related_list li .best3{background:url(/images/common/ico_best3.png) no-repeat}
.related_list li .best4{background:url(/images/common/ico_best4.png) no-repeat}
.related_list li .img{position:absolute;top:0;left:0;width:145px;text-align:center}
.related_list li .img:before{display:inline-block;position:absolute;bottom:-41px;left:50%;width:185px;height:56px;margin-left:-62px;background:url(/images/common/bg_best_shadow.png) no-repeat;content:""}
.related_list li .img img{position:relative;height:344px}
.product_new_wine{display:table;position:relative;width:1200px;margin:0 auto 70px;box-shadow:1px 2px 12px #ccc}
.product_new_wine .bxl{display:table-cell;position:relative;width:600px;padding:16px;background:#e3e3e3;vertical-align:middle}
.product_new_wine .img{display:table;position:relative;width:550px;height:100%;min-height:553px;border:10px solid #fff;background:url(/images/common/bg_bxl_new.jpg) center center no-repeat #e3e3e3;vertical-align:top;text-align:center}
.product_new_wine .img span{display:block;margin:-38px 0}
.product_new_wine .img span:after{display:inline-block;position:absolute;bottom:-44px;left:50%;width:185px;height:56px;margin-left:-88px;background:url(/images/common/bg_best1_shadow.png) no-repeat;content:""}
.product_new_wine .img img{position:relative;z-index:1;height:619px}
.product_new_wine .bxr{display:table-cell;position:relative;width:50%;height:473px;padding:0 40px 105px 50px;color:#222;vertical-align:top}
.product_new_wine .bxr .btn_line_type .ico{margin:0 0 0 26px}
.product_new_wine .tit{display:block;margin-left:-50px;padding:40px 0 0 50px;font-size:48px;font-family:NanumSquare;line-height:1.2;letter-spacing:-3px}
.product_new_wine .tit span{display:block;position:relative;margin:0 0 30px;padding:16px 0 30px;font-weight:400;font-size:15px;font-family:"맑은 고딕","Malgun Gothic",Dotum,"돋움",Gulim,"굴림","Helvetica Neue",Helvetica,Arial,Verdana,Tahoma,sans-serif;line-height:1;letter-spacing:-.5px}
.product_new_wine .tit span:after{display:block;position:absolute;bottom:0;left:0;width:22px;height:1px;background:#444;content:""}
.product_new_wine .hashtag{margin:0 0 28px;color:#a6192e;font-weight:700;font-size:14px}
.product_new_wine .tags{position:absolute;top:0;right:30px}
.product_new_wine .tag{margin-left:11px}
.product_new_wine .tag.type{width:60px;height:40px;font-size:15px;line-height:40px}
.product_new_wine .best.new{display:inline-block;position:absolute;top:-5px;left:308px;z-index:1;width:101px;height:52px;background:url(/images/common/ico_new_bic.png) no-repeat}
.product_new_wine .more_info{margin:0 0 30px;padding:32px 0;border-top:1px dashed #bbb;border-bottom:1px dashed #bbb}
.product_new_wine .more_info li{float:left;width:65px;margin-left:40px;color:#222;font-size:14px;text-align:center}
.product_new_wine .more_info li:first-child{margin-left:15px}
.product_new_wine .more_info li strong{display:block;margin-top:7px;font-weight:400}
.product_new_wine .more_info li strong span{display:block;font-weight:700;font-size:15px}
.product_new_wine .btn_area{position:absolute;right:40px;bottom:35px;left:50px}
.new .product_new_wine .bxr{height:310px;padding:0 40px 275px 50px}
.new .product_new_wine .more_info{position:absolute;bottom:110px;margin:0}
.new .product_new_wine .best.new{top:10px;left:324px}
/*! monthly */
.monthly_wine{margin-bottom:88px}
.monthly_wine .bxl .img{background:url(/images/common/bg_bxl_monthly.jpg) center center no-repeat #eaeaea}
.monthly_wine .bxr .hashtag{margin:40px 0 30px}
.monthly_wine .btn_area{right:40px;bottom:35px;left:50px;margin:0;padding:30px 0 0;border-top:1px dashed #bbb}
.monthly_wine .bxr .sub_txt{overflow:auto;width:510px;height:106px;word-wrap:break-word;word-break:keep-all}
.monthly_wine .bxr .sub_tit{display:block;margin:0 0 15px;font-size:15px}
/*! content scroll style */
.sub_txt .jspVerticalBar{width:8px}
.sub_txt .jspTrack{background:#ccc}
.sub_txt .jspDrag{border:0;background:#aaa}
.jspHorizontalBar .jspDrag{border-right:0}
.jspHorizontalBar .jspDrag:before{display:block;position:absolute;top:-1px;right:0;width:1px;height:11px;background:#fff;content:""}
.jspHorizontalBar .jspDrag:after{display:block;position:absolute;top:0;right:1px;width:1px;height:9px;background:#222;content:""}
.tit40_line{position:relative;margin:0 0 45px;padding:0 0 16px;color:#222;font-size:40px;font-family:NanumSquare;text-align:center;letter-spacing:-2px}
.tit40_line:after{display:block;position:absolute;bottom:0;left:50%;width:50px;height:1px;margin:0 0 0 -25px;background:#222;line-height:1;content:""}
.monthly .sub_visual_inner{text-align:left}
.monthly .sub_visual_inner>p{position:absolute;top:182px;left:0;width:675px;font-size:48px;text-shadow:1px 1px 7px #888;word-break:keep-all;line-height:1.2;letter-spacing:-5px;filter:progid:DXImageTransform.Microsoft.Shadow(color=#888, direction=45)}
.ie7 .monthly .sub_visual_inner>p,.ie8 .monthly .sub_visual_inner>p,.ie9 .monthly .sub_visual_inner>p{text-shadow:inherit;filter:none}
.selc_month{padding:50px 0 0}
.monthly .list_month{position:relative;width:426px;margin:20px 0 0}
.monthly .list_month>div{overflow:hidden;width:360px;height:50px;margin-left:33px;padding-left:1px}
.monthly .list_month li{float:left;margin-left:12px}
.monthly .list_month li:first-child{margin-left:0}
.monthly .list_month li a{display:block;width:48px;height:43px;padding:5px 0 0;border:1px solid #fff;color:#fff;text-align:center;line-height:1}
.monthly .list_month li a.this{border:1px solid #a6192e;background:#a6192e}
.monthly .list_month li a.next_m{border:1px solid #999;background:#999}
.monthly .list_month li a.prev_m{border:1px solid #fff;background:#fff;color:#222}
.monthly .list_month li a.prev_m:focus,.monthly .list_month li a.prev_m:hover{border:1px solid #a6192e;color:#a6192e}
.monthly .list_month li a strong{display:block;font-size:20px}
.monthly .list_month li a span{display:inline-block;font-size:12px;text-indent:5px;letter-spacing:3px}
.monthly .list_month .prev{position:absolute;top:0;left:0;width:21px;height:50px;background:url(/images/common/btn_arr_month.png) 6px center no-repeat #fff}
.monthly .list_month .next{position:absolute;top:0;right:0;width:21px;height:50px;background:url(/images/common/btn_arr_month.png) -36px center no-repeat #fff}
.monthly_products{height:375px}
.monthly_products li{float:left;position:relative}
.monthly_products li a{display:block;width:229px;height:313px;padding:3px 0 0 3px;border:4px solid #fff;background:#fff;text-align:center}
.monthly_products li a>div{width:198px;height:282px;padding:20px 10px 0;border:4px solid #fff}
.monthly_products li a:focus,.monthly_products li a:focus>div,.monthly_products li a:hover,.monthly_products li a:hover>div{border:4px solid #ebebeb}
.monthly_products li .img{position:relative;height:210px;margin:0 0 11px}
.monthly_products li .img .shadow{display:block;position:absolute;bottom:0;left:50%;width:80px;height:18px;margin-left:-40px;background:url(/images/common/bg_new_shadow.png) no-repeat}
.monthly_products li .img img{position:relative;z-index:1;height:202px}
.monthly_products li .tit{display:block;overflow:hidden;height:46px;color:#222;font-size:15px;text-align:center;word-break:keep-all;letter-spacing:-1.5px}
.monthly_products li .type{display:block;position:absolute;top:35px;left:50%;width:129px;height:129px;margin-left:-65px}
.control_slider_bar{position:relative;margin:30px 0 0;border-top:1px solid #222}
.control_slider_bar .thumb{position:absolute;top:-6px;left:0;width:151px;height:9px;border:1px solid #222;background:#fff;cursor:pointer}
.tag_month{position:absolute;top:0;left:56px;z-index:1;width:100px;height:100px;margin:0 0 55px;background:#4aac09;color:#fff;text-align:center;line-height:1.2}
.tag_month strong{display:block;font-size:52px}
.tag_month span{display:block;font-size:18px;text-indent:2px;letter-spacing:3px}
.scroll-pane{overflow:auto;width:100%;height:375px}
.horizontal-only{height:auto;max-height:375px}
#content.brand .content_inner{width:auto;margin:0}
#content.brand .location{width:1200px;margin:0 auto;padding-bottom:32px}
.brand .tit_h2{width:1200px;margin:0 auto 23px}
.list_brand{position:relative}
.list_brand .bxwrap{width:1200px;margin:0 auto}
.list_brand .bxwrap>div{float:left;margin:0 0 40px 45px}
.list_brand .bxwrap>div:first-child{margin-left:0}
.list_brand .bx_brand a{display:block;position:relative;width:370px;height:320px;background:#8b724e;color:#fff}
.list_brand .bx_brand a img{width:370px;height:225px}
.list_brand .bx_brand a em{display:block;position:relative;z-index:1;height:95px;padding:0 29px;background:url(/images/common/ico_brand_off.png) 290px center no-repeat}
.list_brand .bx_brand a em strong{display:block;height:33px;padding:22px 0 2px;font-weight:400;font-size:32px;font-family:NanumSquare;line-height:.8;-ms-line-height:1.05;-moz-line-height:1;-o-line-height:1}
.ie8 .list_brand .bx_brand a em strong,.ie9 .list_brand .bx_brand a em strong{line-height:1.05}
.list_brand .bx_brand a em span{display:block;font-size:14px}
.list_brand .bx_brand a.on:after{display:block;position:absolute;bottom:-32px;left:50%;width:38px;height:22px;margin-left:-19px;background:url(/images/common/bg_arr_brand.png) no-repeat;content:""}
.list_brand .bx_brand a.on .arr{display:block;position:absolute;bottom:-32px;left:50%;width:38px;height:22px;margin-left:-19px;background:url(/images/common/bg_arr_brand.png) no-repeat;content:""}
.list_brand .lb01 .bx_brand a{background:#8b724e}
.list_brand .lb01 .bx_brand a.on .over,.list_brand .lb01 .bx_brand a:focus .over,.list_brand .lb01 .bx_brand a:hover .over{position:absolute;top:0;left:0;width:370px;height:320px;background:url(/images/common/bg_brand_over01.png) no-repeat}
.list_brand .lb02 .bx_brand a{background:#4f2821}
.list_brand .lb02 .bx_brand a.on .over,.list_brand .lb02 .bx_brand a:focus .over,.list_brand .lb02 .bx_brand a:hover .over{position:absolute;top:0;left:0;width:370px;height:320px;background:url(/images/common/bg_brand_over02.png) no-repeat}
.list_brand .lb03 .bx_brand a{background:#e9a91d}
.list_brand .lb03 .bx_brand a.on .over,.list_brand .lb03 .bx_brand a:focus .over,.list_brand .lb03 .bx_brand a:hover .over{position:absolute;top:0;left:0;width:370px;height:320px;background:url(/images/common/bg_brand_over03.png) no-repeat}
.list_brand .lb04 .bx_brand a{background:#b20f2f}
.list_brand .lb04 .bx_brand a.on .over,.list_brand .lb04 .bx_brand a:focus .over,.list_brand .lb04 .bx_brand a:hover .over{position:absolute;top:0;left:0;width:370px;height:320px;background:url(/images/common/bg_brand_over04.png) no-repeat}
.list_brand .lb05 .bx_brand a{background:#ba8746}
.list_brand .lb05 .bx_brand a.on .over,.list_brand .lb05 .bx_brand a:focus .over,.list_brand .lb05 .bx_brand a:hover .over{position:absolute;top:0;left:0;width:370px;height:320px;background:url(/images/common/bg_brand_over05.png) no-repeat}
.list_brand .lb06 .bx_brand a{background:#69313d}
.list_brand .lb06 .bx_brand a.on .over,.list_brand .lb06 .bx_brand a:focus .over,.list_brand .lb06 .bx_brand a:hover .over{position:absolute;top:0;left:0;width:370px;height:320px;background:url(/images/common/bg_brand_over06.png) no-repeat}
.list_brand .lb07 .bx_brand a{background:#7e7238}
.list_brand .lb07 .bx_brand a.on .over,.list_brand .lb07 .bx_brand a:focus .over,.list_brand .lb07 .bx_brand a:hover .over{position:absolute;top:0;left:0;width:370px;height:320px;background:url(/images/common/bg_brand_over07.png) no-repeat}
.list_brand .lb08 .bx_brand a{background:#373425}
.list_brand .lb08 .bx_brand a.on .over,.list_brand .lb08 .bx_brand a:focus .over,.list_brand .lb08 .bx_brand a:hover .over{position:absolute;top:0;left:0;width:370px;height:320px;background:url(/images/common/bg_brand_over08.png) no-repeat}
.list_brand .lb09 .bx_brand a{background:#23305c}
.list_brand .lb09 .bx_brand a.on .over,.list_brand .lb09 .bx_brand a:focus .over,.list_brand .lb09 .bx_brand a:hover .over{position:absolute;top:0;left:0;width:370px;height:320px;background:url(/images/common/bg_brand_over09.png) no-repeat}
.list_brand .bx_view{position:absolute;top:352px;left:0;width:100%;height:668px;margin:0;background:#eaeaea}
.list_brand .bx_view .bx_view_inner{position:relative;width:1200px;margin:60px auto 0}
.list_brand .bx_view .bx_view_inner .close{position:absolute;top:-20px;right:0;width:31px;height:31px;background:url(/images/common/btn_brand_close.png) no-repeat}
.list_brand .bx_view .cont_wrap .stit{margin:0 0 16px;color:#222;font-weight:700;font-size:15px}
.list_brand .bx_view .cont_wrap li{margin:0 0 8px;padding-left:12px;background:url(/images/common/bul_bk_3px.gif) 1px 10px no-repeat;word-wrap:break-word;word-break:keep-all;line-height:1.6}
.brand_info{margin-left:650px}
.brand_info .cont_wrap_scroll{height:335px}
.brand_info .cont_wrap_scroll.scroll-pane{width:550px}
.brand_info .cont{padding-right:20px}
.brand_info .tit{position:relative;width:85%;margin:0 10px 35px 0;padding:0 0 24px;color:#222;font-size:48px;font-family:didot,sans-serif}
.brand_info .tit:after{display:block;position:absolute;bottom:0;left:0;width:20px;height:1px;background:#222;line-height:1;content:""}
.brand_info .tit span{display:inline-block;color:#222;font-size:18px;font-family:"Malgun Gothic","맑은 고딕",sans-serif}
.brand_gallery{position:absolute;top:0;left:0;width:600px}
.brand_gallery .large img{width:600px;height:365px}
.brand_gallery ul{margin:24px 0 0;text-align:center}
.brand_gallery li{display:inline-block;margin-left:12px}
.brand_gallery li a{display:block;position:relative;width:90px;height:54px}
.brand_gallery li a:after{display:none;position:absolute;top:0;left:0;width:90px;height:54px;background:url(/images/common/brand_gal_line.png) no-repeat;content:""}
.brand_gallery li a.on:after,.brand_gallery li a:focus:after,.brand_gallery li a:hover:after{display:block}
.brand_gallery li a img{width:90px;height:54px}
.brand_gallery li:first-child{margin-left:0}
.brand_links{position:relative;margin:40px 0 0;padding:26px 0 0;border-top:1px solid #222}
.brand_links .links{position:relative;padding:0 190px 0 175px;line-height:30px}
.brand_links .links>strong{position:absolute;top:0;left:0}
.brand_links .links ul{display:inline}
.brand_links .links li{display:inline-block;margin-left:16px;line-height:1.3px}
.brand_links .links a{color:#811525;font-weight:700;text-decoration:underline}
.brand_links .btn_area{position:absolute;top:24px;right:0;margin:0}
.brand_links .btn_line_type{background:#fff}
/*! terrior */
.terrior_wrap{position:relative;margin:0 0 60px;padding:4px;border:2px solid #222}
.terrior{padding:30px 0;border:1px solid #222;text-align:center}
.terrior h3{position:absolute;top:-20px;left:40px;padding:0 20px;background:#fff;color:#444;font-size:15px}
.terrior h3 span{margin-right:15px;color:#222;font-size:40px;font-family:NanumSquare;vertical-align:-3px}
.terrior h4{margin:0 0 19px;color:#222;font-weight:700;font-size:18px}
.terrior .select_txt{width:1000px;margin:0 auto}
/*! no result */
.no_results{margin:0 0 40px;padding:0 0 50px;/* border-bottom:1px solid #222; */color:#222;font-size:15px;text-align:center}
/* .ico_results{display:block;width:98px;height:109px;margin:0 auto 25px;background:url(/images/common/ico_no_results.gif) no-repeat} */
.ico_results{display:block;width:200px;height:200px;margin:0 auto 25px;background:url(/images/common/img_layer_monthly.jpg) center 0 no-repeat;background-size:contain;}

/*! apothic */
.halloweenEvent {padding-bottom: 130px;font-size: 22px;background: url(/images/common/bg_halloween.jpg) no-repeat top center;}
.borderBox {box-sizing: border-box;}
.wine_color {color: #aa1930;}
.mgr20 {margin-right: 20px;}

.halloweenEvent .title {padding: 0 86px 10px;font-size: 30px;font-weight: bold;border-bottom: 3px solid #aa1930;background: url(/images/common/prom_title_bullet.jpg) no-repeat top left;}

.halloweenEvent .header {margin-bottom: 180px;text-align: center;}
.halloweenEvent .header .logo {display: block;width: 88px;margin: 0 auto;padding-top: 20px;}
.halloweenEvent .header .headTxt {display: block;width: 561px;margin: -30px auto 0;}

.halloweenEvent .promotionWrap {width: 980px;margin: 0 auto;}
.halloweenEvent .prom_input_wrap {height: 192px;margin-bottom: 15px;padding: 5px;border: 3px solid #e0543d;}
.halloweenEvent .prom_input_box {height: 176px;font-size: 24px;text-align: center;background: url(/images/bg_section01.png) no-repeat top right;border: 1px solid #e0543d;}
.halloweenEvent .prom_input_box .txt {margin: 30px 0 20px;color: #fff;}
.halloweenEvent .prom_input_box .txt span {color: #ff826e;}
.halloweenEvent .prom_input_box .inputField {font-size: 30px;}
.halloweenEvent .prom_input_box .inputField input {width: 460px;height: 51px;margin-right: 17px;color: #2f2323;text-align: center;border: 1px solid #626262;}
.halloweenEvent .prom_input_box .inputField a {display: inline-block;width: 228px;height: 53px;color: #fff;font-size: 24px;line-height: 51px;background-color: #aa1930;border-radius: 7px;}

.halloweenEvent .delivery_wrap {height: 672px;margin-bottom: 30px;padding: 38px 36px;background-color: #fff;}
.halloweenEvent .delivery_wrap .title {margin-bottom: 40px;}
.halloweenEvent .delivery_wrap .delivery_info_input {margin-bottom: 36px;padding-left: 40px;text-align:left;}
.halloweenEvent .delivery_wrap .delivery_info_input li {height: 50px;margin-bottom: 20px;line-height: 46px;}
.halloweenEvent .delivery_wrap .delivery_info_input li label {display: inline-block;width: 90px;color: #000;vertical-align: middle;}
.halloweenEvent .delivery_wrap .delivery_info_input li input {width: 360px;height: 48px;padding: 0 20px;border: 1px solid #626262;box-sizing: border-box; color:#000}
.halloweenEvent .delivery_wrap .delivery_info_input li input#prom_addr {width: 736px;}
.halloweenEvent .delivery_wrap .delivery_notice {height: 190px;padding: 26px 50px;color: #fff;font-size: 18px;background: #646464 url(/images/common/bg_section02.jpg) no-repeat top right;}
.halloweenEvent .delivery_wrap .delivery_notice li {padding-left: 12px;text-indent: -12px;}

.halloweenEvent .privacy_wrap {height: 507px;margin-bottom: 50px;padding: 38px 36px;background-color: #fff;}
.halloweenEvent .privacy_wrap .title {margin-bottom: 32px;}
.halloweenEvent .privacy_wrap .privacy_box {height: 268px;margin-bottom: 15px;padding: 30px;color: #000;font-size: 13px;border: 1px solid #646464;}
.halloweenEvent .privacy_wrap .privacy_notice {float: left;margin-bottom: 10px;color: #000;font-size: 15px;}
.halloweenEvent .privacy_wrap .privacy_agree {color: #000;font-size: 15px;text-align: right;}
.halloweenEvent .btn_confirm {width: 395px;height: 75px;margin: 0 auto;text-align: center;background-color: #aa1930;border-radius: 8px;}
.halloweenEvent .btn_confirm a {display: block;color: #fff;font-size: 30px;line-height: 70px;font-weight: bold;}

.halloweenLayerChk {position: fixed;left: 0;top: 0;width: 100%;z-index: 999;}
.halloweenLayerChk .bg_black {position:absolute;width: 100%;height: 1000px;background-color: #000;opacity:0.5;}
.halloweenLayerChk .popupWrap {position: absolute;top: 150px;left:50%;margin-left: -228px;width: 456px;padding: 0px 0 40px;z-index: 999;background-color: #fff;border-radius: 6px;}
.halloweenLayerChk .popupWrap .titleTxt {height:70px;color: #fff;font-size: 25px;font-weight: bold;line-height:70px;text-align: center;background-color: #ab1930;/* border-bottom: 3px solid #aa1930; */border-top-left-radius: 6px;border-top-right-radius: 6px;}
.halloweenLayerChk .popupWrap .titleTxt img {margin: 0 15px -3px 0;}
.halloweenLayerChk .popupWrap .chkResult {margin: 45px 0 50px;color:#3e3e3e;font-size: 20px;text-align:center;}
.halloweenLayerChk .btn_confirm {width: 230px;height: 53px;background-color: #3e3e3e;}
.halloweenLayerChk .btn_confirm a {font-size: 25px;line-height: 53px;background-color:#3e3e3e;}
		
		

.header {margin-bottom: 180px;text-align: center;}
.header .logo {display: block;width: 88px;margin: 0 auto;padding-top: 20px;}
.header .headTxt {display: block;width: 561px;margin: -30px auto 0;}

.promotionWrap {width: 100%;}
.promotionWrap .inner{width: 980px;margin: 0 auto;}
.prom_input_wrap {height: 192px;margin-bottom: 15px;padding: 5px;border: 3px solid #e0543d;}
.prom_input_box {height: 176px;font-size: 24px;text-align: center;background: url(/images/common/bg_section01.png) no-repeat top right;border: 1px solid #e0543d;}
.prom_input_box .txt {margin: 30px 0 20px;color: #fff;}
.prom_input_box .txt span {color: #ff826e;}
.prom_input_box .inputField {font-size: 30px;}
.prom_input_box .inputField input {width: 460px;height: 51px;margin-right: 17px;color: #2f2323;text-align: center;border: 1px solid #626262;background-color:#fff}
.prom_input_box .inputField a {display: inline-block;width: 228px;height: 53px;color: #fff;font-size: 24px;line-height: 51px;background-color: #aa1930;border-radius: 7px;}

.delivery_wrap {height: 672px;margin-bottom: 30px;padding: 38px 36px;background-color: #fff;}
.delivery_wrap .title {margin-bottom: 40px;}
.delivery_wrap .delivery_info_input {margin-bottom: 36px;padding-left: 40px;text-align: center;}
.delivery_wrap .delivery_info_input li {height: 50px;margin-bottom: 20px;line-height: 46px;}
.delivery_wrap .delivery_info_input li label {display: inline-block;width: 90px;margin-right: 10px;color: #fff;vertical-align: middle;}
.delivery_wrap .delivery_info_input li input {width: 360px;height: 48px;padding: 0 20px;color: #fff;border: 1px solid #626262;box-sizing: border-box;}
.delivery_wrap .delivery_info_input li input#addr {width: 736px;}
.delivery_wrap .delivery_notice {height: 190px;padding: 26px 50px;color: #fff;font-size: 18px;background: #646464 url(/images/common/bg_section02.jpg) no-repeat top right;}
.delivery_wrap .delivery_notice li {padding-left: 12px;text-indent: -12px;}

.privacy_wrap {height: 507px;margin-bottom: 50px;padding: 38px 36px;background-color: #fff;}
.privacy_wrap .title {margin-bottom: 32px;}
.privacy_wrap .privacy_box {height: 268px;margin-bottom: 15px;padding: 30px;color: #000;font-size: 13px;border: 1px solid #646464;}
.privacy_wrap .privacy_notice {float: left;margin-bottom: 10px;color: #000;font-size: 15px;}
.privacy_wrap .privacy_agree {color: #000;font-size: 15px;text-align: right;}
.btn_confirm {width: 395px;height: 75px;margin: 0 auto;text-align: center;background-color: #aa1930;border-radius: 4px;}
.btn_confirm a {display: block;color: #fff;font-size: 30px;line-height: 70px;font-weight: bold;}

/*! carlorossi */
.carlorossiEvent {padding-bottom: 130px;font-size: 22px;background: url(/images/common/bg_carlorossi.jpg) no-repeat top center;}

.carlorossiEvent .header .headTxt {display: block;width: auto;margin: 0px;padding-top: 160px;}

.carlorossiEvent .delivery_wrap {height: 520px;margin-bottom: 30px;padding: 38px 36px;background-color: #fff;}
.carlorossiEvent .delivery_wrap .delivery_notice {height: 190px;padding: 30px 50px;color: #fff;font-size: 16px;background: #606060 url(/images/common/bg_section02_carlorossi.jpg) no-repeat 98% 50%;}
.carlorossiEvent .delivery_wrap .delivery_notice li {margin-bottom: 15px;padding-left: 12px;line-height: 25px;text-indent: -12px;}

.carlorossiEvent .title {padding: 0 86px 8px;color: #6b696a;font-size: 30px;font-weight: bold;border-bottom: 3px solid #73253b;background: url(/images/common/prom_title_bullet_carlorossi.png) no-repeat left 6px;}

.carlorossiEvent .prom_input_wrap {height: 192px;margin-bottom: 15px;padding: 5px;border: 3px solid #c0a47f;background-color: #09231a;}
.carlorossiEvent .prom_input_box {border: 1px solid #c0a47f;background: none;} 
.carlorossiEvent .prom_input_box .inputField a {display: inline-block;width: 228px;height: 53px;color: #fff;font-size: 24px;line-height: 51px;background-color: #c0a47f;border-radius: 7px;}

.carlorossiEvent .btn_confirm {background-color: #9a7e41;}

.carlorossiEvent .pressSub {color: #787878;}
.btn_detail_bk.btn_carlorossi {width: 166px;height: 38px;line-height: 36px;background-color:#9a7e41;border-radius: 18px;}

.carlorossiLayerChk {position: fixed;left: 0;top: 0;width: 100%;z-index: 999;}
.carlorossiLayerChk .bg_black {position:absolute;width: 100%;height: 1000px;background-color: #000;opacity:0.5;}
.carlorossiLayerChk .popupWrap {position: absolute;top: 150px;left:50%;margin-left: -228px;width: 456px;padding: 20px 0 40px;z-index: 999;background-color: #fff;}
.carlorossiLayerChk .popupWrap .titleTxt {color: #6b696a;font-size: 30px;font-weight: bold;text-align: center;border-bottom: 3px solid #aa1930;}
.carlorossiLayerChk .popupWrap .titleTxt img {margin: 0 15px -3px 0;}
.carlorossiLayerChk .popupWrap .chkResult {margin: 45px 0 50px;font-size: 20px;text-align:center;}
.carlorossiLayerChk .btn_confirm {width: 230px;height: 53px;background-color: #9a7e41;}
.carlorossiLayerChk .btn_confirm a {font-size: 25px;line-height: 53px;}

/* 2017-10-20 개인정보 강조 텍스트 수정 */
.pressTitle {font-size: 15px;}
.pressSub {font-size: 15px;text-decoration:underline;}


/*! barefoot */
.barefootEvent {padding-bottom: 60px;font-size: 22px;background: url(/images/common/bg_barefoot.jpg) no-repeat top center;}

.barefootEvent .title {padding: 0 86px;color: #6b696a;font-size: 30px;font-weight: bold;text-align:center;border-bottom: 0 none;background: url(/images/common/prom_title_bullet_barefoot.png) no-repeat left 6px;}

.barefootEvent .header {margin-bottom: 300px;}
.barefootEvent .header .headTxt {display: block;width: auto;margin: 0px 0 0 10px;padding-top: 126px;}

.barefootEvent .prom_input_wrap {height: auto;margin: 0;padding: 50px;border: 0 none;background-color: #5e173a;}
.barefootEvent .prom_input_box {height: auto;border: 0 none;background: none;}
.barefootEvent .prom_input_box .txt {margin: 0 0 20px;}
.barefootEvent .prom_input_box .txt span{color:#ff91a8;}
.barefootEvent .prom_input_box .inputField a {display: inline-block;width: 228px;height: 53px;color: #fff;font-size: 24px;line-height: 51px;background-color: #bf2672;border-radius: 7px;}

.barefootEvent .delivery_wrap {height: auto;margin-bottom: 0px;padding: 50px 36px;background-color: #2d193a;}
.barefootEvent .delivery_wrap .title {color: #fff;}
.barefootEvent .delivery_wrap .delivery_notice {width: 906px;height: 190px;margin: 0 auto;padding: 40px 50px;color: #e0d1ff;font-size: 16px;background: url(/images/common/bg_delivery_notice.png) no-repeat 0 0;}
.barefootEvent .delivery_wrap .delivery_notice ul {width: 550px;margin: 0 auto;}
.barefootEvent .delivery_wrap .delivery_notice li {/* margin-bottom: 15px; */padding-left: 12px;font-size: 14px;line-height: 27px;text-indent: -12px;}
.barefootEvent .delivery_wrap .delivery_notice li span {color: #fff;}

.barefootEvent .delivery_wrap .delivery_info_input {margin-bottom: 36px;padding-left: 0px;text-align: center;}
.barefootEvent .delivery_wrap .delivery_info_input ul {width: 840px;margin: 0 auto;text-align: left;}
.barefootEvent .delivery_wrap .delivery_info_input li {height: 52px;margin-bottom: 20px;line-height: 46px;}
.barefootEvent .delivery_wrap .delivery_info_input li label {display: inline-block;width: 90px;margin-right: 10px;color: #fff;vertical-align: middle;}
.barefootEvent .delivery_wrap .delivery_info_input li input {width: 360px;height: 50px;padding: 0 20px;color: #5b5b5b;border: 0 none;background-color: #fff;box-sizing: border-box;}
.barefootEvent .delivery_wrap .delivery_info_input li input#addr {width: 736px;}

.barefootEvent .promotionWrap .privacy.inner{width: 904px;margin: 0 auto;}
.barefootEvent .privacy_wrap {height: auto;margin-bottom: 10px;padding: 38px 36px;background-color: #fff;}
.barefootEvent .privacy_wrap .title{color: #6b696a;}
.barefootEvent .privacy_wrap .privacy_box {height: auto;color: #787878;background-color: #eee;}
.barefootEvent .privacy_wrap .privacy_box strong {color: #1a1a1a;}
.barefootEvent .privacy_wrap .privacy_agree {color: #707070;}

.barefootEvent .btn_confirm {background-color: #bf2672;}

.barefootEvent .pressSub {color: #787878;}
.btn_detail_bk.btn_barefoot {width: 166px;height: 38px;line-height: 36px;background-color:#9a7e41;border-radius: 18px;}

.barefootLayerChk {position: fixed;left: 0;top: 0;width: 100%;z-index: 999;}
.barefootLayerChk .bg_black {position:absolute;width: 100%;height: 1000px;background-color: #000;opacity:0.5;}
.barefootLayerChk .popupWrap {position: absolute;top: 150px;left:50%;margin-left: -228px;width: 456px;padding: 0px 0 40px;z-index: 999;background-color: #fff;border-radius: 6px;}
.barefootLayerChk .popupWrap .titleTxt {height:70px;color: #fff;font-size: 25px;font-weight: bold;line-height:70px;text-align: center;background-color: #acacac;/* border-bottom: 3px solid #aa1930; */border-top-left-radius: 6px;border-top-right-radius: 6px;}
.barefootLayerChk .popupWrap .titleTxt img {margin: 0 15px -3px 0;}
.barefootLayerChk .popupWrap .chkResult {margin: 45px 0 50px;color:#5a5a5a;font-size: 20px;text-align:center;}
.barefootLayerChk .btn_confirm {width: 230px;height: 53px;background-color: #9a7e41;}
.barefootLayerChk .btn_confirm a {font-size: 25px;line-height: 53px;background-color:#be2671;}

